@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.ttf"), local("Lucida Grande, sans-serif");
}

@font-face {
  font-family: "Raleway-Bold";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.ttf"), local("Lucida Grande, sans-serif");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf"),
    local("Helvetica, Segoe UI, sans-serif");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.ttf"),
    local("Helvetica, Segoe UI, sans-serif");
}
